@import url('normalize.css');

@font-face 
{
    font-family: 'ralewayregular';
    src: url('polices/raleway/raleway-regular-webfont.woff2') format('woff2'),
        url('polices/raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'ralewaysemibold';
    src: url('polices/ralewaysemibold/raleway-semibold-webfont.woff2') format('woff2'),
        url('polices/ralewaysemibold/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/******/

body
{
    font-family: 'ralewayregular';
}

.bloc_page
{
    margin-right: 50px;
    margin-left: 50px;    
    box-sizing: border-box;   
}

img
{
    object-fit: cover;
}




/* ----- HEADER -----  */

/*NAVIGATION*/

.navigation
{
    display: flex;
    justify-content: space-between;  
}

.navigation img
{
    width: 90px;
    height: 45px;
    padding-top: 35px;
    padding-left: 15px;
}

.navigation ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navigation li
{
    margin: 25px;
}

.navigation li a
{
    text-decoration: none;
    color: black;
}

.navigation li a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 37px;
}

.titresect h1
{
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
    padding-top: 7px;
    font-family: 'ralewaysemibold';
}

/* FORMULAIRE */ 

#logo_localisation
{
    
    padding-top: 15.5px;
    padding-bottom: 18.5px;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: -4px;
    background-color: #EFEFEF;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 18px;
    
}

.bouton_rechercher
{
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    padding-top: 17.5px;
    margin-left: -5px;
    padding-bottom: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: hidden;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}

#recherche2
{
    font-family: 'ralewaysemibold';
    padding-left: 15px;
    width: 230px; 
    height: 44.5px;
    font-size: 18px;
}

.formulaire
{
    font-family: 'ralewaysemibold';
}

/* FILTRES */

.filtre
{
    display: flex;
    font-weight: bolder;
    padding-top: 30px;
    position: relative;
    font-family: 'ralewaysemibold';
    margin-right: -50px;
}

.filtre h2
{
    font-size: 17px;
    font-family: 'ralewaysemibold';
}

.filtre1
{
    display: flex;
    border: 2px solid #DCDCDC;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    padding-left: 20px;
    margin-left: 15px;
}

.filtre1 i
{
    border: 1px solid #EFEFEF;
    padding-top: 13px;
    padding-right: 14px;
    background-color: #DEEBFF;
    border-radius: 80px;
    padding-left: 14px;
    height: 16px;
    margin-top: 8px;
    padding-bottom: 14px;
    color: #0065FC;
    position: relative;    
    right: 23px;
    bottom: 10px;
}

.filtre1 p
{
    font-style: bolder;
    position: relative;
    left: 35px ;
    bottom: 58px;
}

.width
{
    width: 200px;
}

.filtre a
{
    text-decoration: none;
    color: black;
}

.filtre a:hover
{
    color: #0065FC;
}

.info
{
    display: flex;
    padding-top: 20px;
}

#info_icon
{
    border: 1px solid #EFEFEF;
    padding-top: 4px;
    padding-right: 10px;
    color: #0065FC;
    border-radius: 80px;
    padding-left: 10px;
    height: 20px;
    margin-top: 8px;
    padding-bottom: 3px;
    
}

.info p
{
    padding-left: 16px;
    margin-top: 15px;
}



/* MAIN */

/*------HEBERGEMENTS------*/

main
{
    display: flex;
    flex-wrap: wrap;
}

.sect1
{
    display: flex;
}

.Hebergements
{
    
    background-color: #EFEFEF;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 25px;
    width: 59%;
    height: 700px;
}

.Hebergements h2
{
    font-family: 'ralewaysemibold';
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.hotels
{
    display: flex;
    height: 32%
}


.hotelcard
{
    border: 5px solid white;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 30%;
}

.hotelcard h2
{
    font-family: 'ralewaysemibold';
    font-size: 90%;
    padding: 0;
    padding-left: 7px;
}

.hotelcard p
{
    font-size: 75%;
    padding-left: 7px;
    margin-top: -10px;
}
.hotelcard img
{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: -4px;
    height: 60%;
}


.note
{
    color: #0065FC;
    font-size: 60%;
    padding-left: 7px;
} 

.hotels2
{
    display: flex;
    height: 32%;
}

.Hebergements a
{
    text-decoration: none;
    color: black;
}

.afficherplus
{
    font-family: 'ralewaysemibold';
    padding-left: 22px;
    padding-top: 50px;
}

/*------LES PLUS POPULAIRES------*/

.lpp
{
    background-color: #EFEFEF;
    margin-left: 40px;
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-right: 50px;

    
}

.titreaside
{
    font-family: 'ralewaysemibold';
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}

.titreaside h2
{
    padding-left: 40px;
    padding-top: 16px;
    font-size: 20px;
}

#asidelogo
{
    padding-top: 32px;
    font-size: 20px;
}

.hotelcard2
{
    border: 5px solid white;
    width: 90%;
    height: 135px;
    background-color: white;
    border-radius: 15px;
    margin-left: 9%;
    margin-top: 6%;
    margin-bottom: 5%;
}

.hotelcard2 h2
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 140px;
    font-size: 16px;
    padding-left: 160px;
}

.hotelcard2 p
{
    font-size: 14px;
    position: relative;
    bottom: 147px;
    padding-left: 160px;
    font-size: 'ralewayregular';
}
.hotelcard2 img
{
    width: 140px;
    height: 135px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.note2
{
    color: #0065FC;
    position: relative;
    bottom: 125px;
    font-size: 12px;
    padding-left: 160px;
}

.hotelcard2 a
{
    text-decoration: none;
    color: black;
}

.stargrey
{
    color: #EFEFEF;
}

/* SECTION 2 */ 

/*-----ACTIVITES A MARSEILLE-----*/
.act
{
    height: max-content;
}
.activites
{
    display: flex;
}

.act h2
{
    font-family: 'ralewaysemibold';
    font-size: 20px;
    margin-top: 50px;
}

/* VIEUX PORT */

.vieuxport
{
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px #DCDCDC; 
    width: 25%;
}

.vieuxport img
{
    width: 100%;
    height: 86%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.vieuxport p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

.activites2
{
    display: flex;
    flex-direction: column;
    width: 25%;
}

/* FORT DE POMEGUES */

.fort
{
    border-radius: 15px;
    margin-left: 33px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px #DCDCDC;
    
}

.fort img
{
    width: 100%;
    height: 145px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fort p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

/* Frioul */

.frioul
{
    border-radius: 15px;
    margin-left: 33px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px #DCDCDC;
    margin-top: 17px;
    
}

.frioul img
{
    width: 100%;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.frioul p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

/* calanques */

.calanques
{
    border-radius: 15px;
    margin-left: 33px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px #DCDCDC;
    width: 25%;

    
}

.calanques img
{
    width: 100%;
    height: 86%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.calanques p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

.activites3
{
    display: flex;
    flex-direction: column;
    width: 22%;
}

/* Notre dame de la garde */

.notredame
{
    border-radius: 15px;
    margin-left: 33px;
    margin-bottom: 42px;
    box-shadow: 1px 1px 15px #DCDCDC;
    
}

.notredame img
{
    width: 100%;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.notredame p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

/* Parc longchamp */

.parc
{
    border-radius: 15px;
    margin-left: 33px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px #DCDCDC;
    
}

.parc img
{
    width: 100%;
    height: 125px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.parc p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

.sect2 a , .aside a , .activites a
{
    text-decoration: none;
    color: black;
}

/* FOOTER */

.footer
{
    display: flex;
    background-color: #EFEFEF;
    justify-content: space-around;
    padding-bottom: 30px;

}

.footer h3
{
    font-family: 'ralewaysemibold';
    font-size: 18px;
    padding-top: 24px;
}

.footer p
{
    font-size: 16px;

}

.footer a
{
    text-decoration: none;
    color: black;
}

.apropos
{
    margin-left: -120px;
}










@media all and (max-width: 767px)
{

    .bloc_page
    {
        margin-right: 0px;
        margin-left: 24px;
    }

    body
    {
        margin-left: 0px;

    }

    /*HEADER*/

    .navigation
    {
        display: flex;
        flex-direction: column;
    }

    .navigation img
    {
        padding-left: 110px;
        width: 110px;
        margin-bottom: -30px;
    }


    .navigation li
    {
        width: 100%;
        margin-left: -1px;
    }

    .navigation li a:hover
    {
        border-bottom: 2px solid #0065FC;
        border-top: none;
        padding-bottom: 15px;
    }

    .titresect
    {
        width: 300px;
    }

    .formulaire
    {
        width: 350px;
    }

    .bouton_rechercher
    {
        width: 50px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        position: relative;
        left: -25px;
        
    }

    .bouton_rechercher p
    {
        display: none;
    }

    .filtre
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        width: min-content;
    }

    .eco , .romantique , .animal , .familial
    {
        margin-bottom: 15px;
        margin-left: -18px;
    }

    .info
    {
        width: 350px;
    }

    .info p
    {
        padding-left: 0px;
    }

    /* SECTION 1 */

    .sect1
    {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }

    .titreaside
    {
        width: 240px;
    }

    #lpp1
    {
        margin-left: -37px;
        border-radius: 0px;
        width: 100%;
    }

    aside
    {
        width: 10px;
    }

    .hotels, .hotels2
    {
        flex-direction: column;
    }

    #Hébergements
    {   
        background: none;
        padding-right: 0px;
        margin-left: -21px;  
        width: 100%;
        height: 100%;
    }

    #titlehebergement
    {
        padding-left: 25px;
    }

    .hotelcard
    {
        box-shadow: 1px 1px 15px #DCDCDC;
        width: 300px;
        height: 175px;
        margin-bottom: 25px;
    }
    
    .hotelcard img
    {
        width: 300px;
        height: 100px;
    }

    .afficherplus
{
    padding
}


    /* SECTION 2 */

    .activites
    {
        flex-direction: column;
        margin-left: -38px;
    }

    .vieuxport, .fort, .calanques, .frioul , .parc, .notredame
    {
    border-radius: 15px;
    margin-left: 47px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 15px #DCDCDC;
    margin-top: 17px;
    height: 170px;
    width: 310px;
    
    }

    .activites img, .activites2 img, .activites3 img
    {
    width: 310px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }

    .footer
    {
        flex-direction:column;
        padding-left: 23px;
        margin-bottom: -9px;
        margin-top: 20px;

    }

.apropos
{
    margin-left: 0px;
}






    



    

}



















