

@font-face {
    font-family: 'ralewayregular';
    src: url('polices/raleway/raleway-regular-webfont.woff2') format('woff2'),
        url('polices/raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('polices/ralewaysemibold/raleway-semibold-webfont.woff2') format('woff2'),
        url('polices/ralewaysemibold/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body
{
    font-family: 'ralewayregular';
}

.bloc_page
{
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    
}


/* HEADER -- EN TËTE DE LA PAGE */

header
{
    display: flex;
    
}

header img
{
    width: 10%;
    height: 10%;
    margin-top: 4%;
    margin-left: 1.5%;
}

header a
{
    text-decoration: none;
    color: #0065FC;
}

.hb
{
    
    padding-left: 930px;
    padding-top: 3.5%;
    
}

header a:hover
{
    border-top: 2px solid;
    color: #0065FC;
    padding-top: 44px;
    
    
}

.ac
{
    padding-left: 7%;
    padding-top: 3.5%;
    font-size: 16px;
}

/* SECTION RECHERCHE */

section h1
{
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
    padding-top: 7px;
    font-family: 'ralewaysemibold';
}

#logo_localisation
{
    
    padding-top: 14.5px;
    padding-bottom: 19.5px;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: -4px;
    background-color: #EFEFEF;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 18px;
    
}

.bouton_rechercher
{
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    padding-top: 17.5px;
    margin-left: -5px;
    padding-bottom: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: hidden;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}

#recherche2
{
    font-weight: bolder;
    padding-left: 15px;
}

.formulaire
{
    font-family: 'ralewaysemibold';
}

.filtre
{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    padding-top: 30px;
    position: relative;
    font-family: 'ralewaysemibold';
    margin-right: -50px;
    
    
}

#animal_icon 
{
    border: 1px solid #EFEFEF;
    padding-top: 13px;
    padding-right: 14px;
    background-color: #DEEBFF;
    border-radius: 80px;
    padding-left: 14px;
    height: 16px;
    margin-top: 8px;
    padding-bottom: 14px;
    color: #0065FC;
    position: relative;    
    right: 23px;
    bottom: 10px;
    
}

.eco
{
    display: flex;
    border: 2px solid #DCDCDC;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    padding-left: 20px;
    margin-left: -20px;
}

#eco_icon
{
    border: 1px solid #EFEFEF;
    padding-top: 13px;
    padding-right: 14px;
    background-color: #DEEBFF;
    border-radius: 80px;
    padding-left: 14px;
    height: 16px;
    margin-top: 8px;
    padding-bottom: 14px;
    color: #0065FC;
    position: relative;    
    right: 23px;
    bottom: 10px;
}

#ecop 
{
    font-style: bolder;
    position: relative;
    right: 10px ;
    bottom: 3px;
}

.familial
{
    display: flex;
    border: 2px solid #DCDCDC;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    padding-left: 20px;
    
    

}

#familial_icon
{
    border: 1px solid #EFEFEF;
    padding-top: 13px;
    padding-right: 14px;
    background-color: #DEEBFF;
    border-radius: 80px;
    padding-left: 14px;
    height: 16px;
    margin-top: 8px;
    padding-bottom: 14px;
    color: #0065FC;
    position: relative;    
    right: 23px;
    bottom: 10px;
}

#famip
{
    font-style: bolder;
    position: relative;
    right: 10px ;
    bottom: 3px;
}

.romantique
{
    display: flex;
    border: 2px solid #DCDCDC;
    border-radius: 50px;
    width: 155px;
    height: 40px;
    padding-left: 20px;

}

#romantique_icon
{
    border: 1px solid #EFEFEF;
    padding-top: 13px;
    padding-right: 14px;
    background-color: #DEEBFF;
    border-radius: 80px;
    padding-left: 14px;
    height: 16px;
    margin-top: 8px;
    padding-bottom: 14px;
    color: #0065FC;
    position: relative;    
    right: 23px;
    bottom: 10px;
}

#romp
{
    font-style: bolder;
    position: relative;
    right: 10px ;
    bottom: 3px;
}

.animal
{
    display: flex;
    border: 2px solid #DCDCDC;
    border-radius: 50px;
    width: 220px;
    height: 40px;
    padding-left: 20px;

}

.animal_icon
{
    border: 1px solid #EFEFEF;
    padding-top: 13px;
    padding-right: 14px;
    background-color: #DEEBFF;
    border-radius: 80px;
    padding-left: 14px;
    height: 16px;
    margin-top: 8px;
    padding-bottom: 14px;
    color: #0065FC;
    position: relative;    
    right: 23px;
    bottom: 10px;
}

#anip
{
    word-wrap:break-word;
    position: relative;
    bottom: 3px;
    right: 5px;
}




.info
{
    display: flex;
    padding-top: 20px;
}

#info_icon
{
    border: 1px solid #EFEFEF;
    padding-top: 4px;
    padding-right: 10px;
    color: #0065FC;
    border-radius: 80px;
    padding-left: 10px;
    height: 20px;
    margin-top: 8px;
    padding-bottom: 3px;
    
}

.info p
{
    padding-left: 16px;
    margin-top: 15px;
}





/* SECTION 2 */

.sect2
{
    display: flex;
}

.Hebergements
{
    
    background-color: #EFEFEF;
    width: 97%;
    height: 610px;
    border-radius: 20px;
    margin-left: 53px;
    padding-left: 10px;
}

#titrearticle
{
    font-family: 'ralewaysemibold';
    position: relative;
    padding-top: 40px;
    padding-left: 40px;
}

.hotels
{
    display: flex;
}

/*CANNEBIERE*/

#titrearticle
{
    font-size: 20px;
    position: relative;
    right: 15px;
    padding-bottom: 5px;
}

.Cannebière
{
    border: 5px solid white;
    width: 230px;
    height: 190px;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
}

#titrecannebière
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 9px;
    font-size: 15px;
    padding-left: 7px;
}

#prixnuit
{
    font-size: 14px;
    position: relative;
    bottom: 19px;
    padding-left: 7px;
}
.Cannebière img
{
    width: 230px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.note
{
    color: #0065FC;
    position: relative;
    bottom: 24px;
    font-size: 12px;
    padding-left: 7px;
}

#note1
{
    color: #DCDCDC;
}

/* HOTEL PORT */ 

.hotelport
{
    border: 5px solid white;
    width: 230px;
    height: 190px;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
}

#titreport
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 9px;
    font-size: 15px;
    padding-left: 7px;
}

#prixnuitport
{
    font-size: 14px;
    position: relative;
    bottom: 19px;
    padding-left: 7px;
}
.hotelport img
{
    width: 230px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.noteport
{
    color: #0065FC;
    position: relative;
    bottom: 24px;
    font-size: 12px;
    padding-left: 7px;
}

/* HOTEL LES MOUETTES */ 

.lesmouettes
{
    border: 5px solid white;
    width: 230px;
    height: 190px;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
}

#titremouettes
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 9px;
    font-size: 15px;
    padding-left: 7px;
}

#prixnuitmouettes
{
    font-size: 14px;
    position: relative;
    bottom: 19px;
    padding-left: 7px;
}
.lesmouettes img
{
    width: 230px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.notemouettes
{
    color: #0065FC;
    position: relative;
    bottom: 24px;
    font-size: 12px;
    padding-left: 7px;
}

#notemouettes1
{
    color: #DCDCDC;
    
}

.hotels2
{
    display: flex;
}

/* HOTEL DE LA MER */ 

.hotelmer
{
    border: 5px solid white;
    width: 230px;
    height: 190px;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 25px;
}

#titremer
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 9px;
    font-size: 15px;
    padding-left: 7px;
}

#prixnuitmer
{
    font-size: 14px;
    position: relative;
    bottom: 19px;
    padding-left: 7px;
}
.hotelmer img
{
    width: 230px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.notemer
{
    color: #0065FC;
    position: relative;
    bottom: 24px;
    font-size: 12px;
    padding-left: 7px;
}

#notemer1, #notemer2
{
    color: #DCDCDC;
    
}

/* AUBERGE LE PANIER */ 

.lepanier
{
    border: 5px solid white;
    width: 230px;
    height: 190px;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 25px;
}

#titrepanier
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 9px;
    font-size: 15px;
    padding-left: 7px;
}

#prixnuitpanier
{
    font-size: 14px;
    position: relative;
    bottom: 19px;
    padding-left: 7px;
}
.lepanier img
{
    width: 230px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.notepanier
{
    color: #0065FC;
    position: relative;
    bottom: 24px;
    font-size: 12px;
    padding-left: 7px;
}

#notepanier1
{
    color: #DCDCDC;
    
}

/* HOTEL CHEZ AMINA */ 

.chezamina
{
    border: 5px solid white;
    width: 230px;
    height: 190px;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 25px;
}

#titreamina
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 9px;
    font-size: 15px;
    padding-left: 7px;
}

#prixnuitamina
{
    font-size: 14px;
    position: relative;
    bottom: 19px;
    padding-left: 7px;
}
.chezamina img
{
    width: 230px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.noteamina
{
    color: #0065FC;
    position: relative;
    bottom: 24px;
    font-size: 12px;
    padding-left: 7px;
}

.afficherplus
{
    font-family: 'ralewaysemibold';
    padding-left: 22px;
    padding-top: 25px;
}

/* LES PLUS POPULAIRES */

.lpp
{
    background-color: #EFEFEF;
    margin-left: 70px;
    width: 600px;
    height: 610px;
    margin-top: 17px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    
}

.titreaside
{
    font-family: 'ralewaysemibold';
    padding-left: 40px;
    padding-top: 17px;
    font-size: 22px;
    margin-bottom: -20px;
    
}

#asidelogo
{
    position: relative;
    bottom: 28px;
    left: 350px;
    font-size: 22px;
}

/* HOTEL LE SOLEIL DU MATIN */

.lesoleil
{
    border: 5px solid white;
    width: 330px;
    height: 135px;
    background-color: white;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 25px;
}

#titresoleil
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 140px;
    font-size: 16px;
    left: 160px;
}

#prixnuitsoleil
{
    font-size: 14px;
    position: relative;
    bottom: 147px;
    left: 160px;
    font-size: 'ralewayregular';
}
.lesoleil img
{
    width: 140px;
    height: 135px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.notesoleil
{
    color: #0065FC;
    position: relative;
    bottom: 125px;
    font-size: 12px;
    left: 160px;
}

/* HOTEL AU COEUR DE L'EAU */

.eau
{
    border: 5px solid white;
    width: 330px;
    height: 135px;
    background-color: white;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 25px;
}

#titreeau
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 140px;
    font-size: 16px;
    left: 160px;
}

#prixnuiteau
{
    font-size: 14px;
    position: relative;
    bottom: 147px;
    left: 160px;
    font-size: 'ralewayregular';
}
.eau img
{
    width: 140px;
    height: 135px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.noteeau
{
    color: #0065FC;
    position: relative;
    bottom: 125px;
    font-size: 12px;
    left: 160px;
}

#noteeau1
{
    color: #EFEFEF;
}

/* HOTEL BLEU ET BLANC */

.toutbleu
{
    border: 5px solid white;
    width: 330px;
    height: 135px;
    background-color: white;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 25px;
}

#titretoutbleu
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 140px;
    font-size: 16px;
    left: 160px;
}

#prixnuittoutbleu
{
    font-size: 14px;
    position: relative;
    bottom: 147px;
    left: 160px;
    font-size: 'ralewayregular';
}
.toutbleu img
{
    width: 140px;
    height: 135px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.notetoutbleu
{
    color: #0065FC;
    position: relative;
    bottom: 125px;
    font-size: 12px;
    left: 160px;
}

#notetoutbleu1
{
    color: #EFEFEF;
}




















