@import url('normalize.css');

@font-face 
{
    font-family: 'ralewayregular';
    src: url('polices/raleway/raleway-regular-webfont.woff2') format('woff2'),
        url('polices/raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'ralewaysemibold';
    src: url('polices/ralewaysemibold/raleway-semibold-webfont.woff2') format('woff2'),
        url('polices/ralewaysemibold/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/******/

body
{
    font-family: 'ralewayregular';
}

.bloc_page
{
    margin-right: 50px;
    margin-left: 50px;    
    box-sizing: border-box;   
}

img
{
    object-fit: cover;
}




/* ----- HEADER -----  */

/*NAVIGATION*/

.navigation
{
    display: flex;
    justify-content: space-between;  
}

.navigation img
{
    width: 90px;
    height: 45px;
    padding-top: 35px;
    padding-left: 15px;
}

.navigation ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navigation li
{
    margin: 25px;
}

.navigation li a
{
    text-decoration: none;
    color: black;
}

.navigation li a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 37px;
}

.titresect h1
{
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
    padding-top: 7px;
    font-family: 'ralewaysemibold';
}

/* FORMULAIRE */ 

#logo_localisation
{
    
    padding: 17px;
    margin-right: -4px;
    background-color: #EFEFEF;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 17px;
    
}

.bouton_rechercher
{
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    padding-top: 17px;
    margin-left: -5px;
    padding-bottom: 15.5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: hidden;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}

#loupe
{
    display: none;
}


#recherche2
{
    font-family: 'ralewaysemibold';
    padding-left: 15px;
    width: 230px; 
    height: 44.5px;
    font-size: 18px;
}

.formulaire
{
    font-family: 'ralewaysemibold';
}

/* FILTRES */

.filtre
{
    display: flex;
    font-weight: bolder;
    padding-top: 30px;
    position: relative;
    font-family: 'ralewaysemibold';
    margin-right: -50px;
}

.filtrereponsive
{
    display: flex;
    flex-direction: row;
}

.filtre h2
{
    font-size: 17px;
    font-family: 'ralewaysemibold';
}

.filtre1
{
    display: flex;
    border: 2px solid #DCDCDC;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    padding-left: 20px;
    margin-left: 15px;
}

.filtre1 i
{
    border: 1px solid #EFEFEF;
    padding-top: 13px;
    padding-right: 14px;
    background-color: #DEEBFF;
    border-radius: 80px;
    padding-left: 14px;
    height: 16px;
    margin-top: 8px;
    padding-bottom: 14px;
    color: #0065FC;
    position: relative;    
    right: 23px;
    bottom: 10px;
}

.filtre1 p
{
    position: relative;
    left: 35px ;
    bottom: 58px;
}

.width
{
    width: 200px;
}

.filtre a
{
    text-decoration: none;
    color: black;
}

.filtre a:hover
{
    color: #0065FC;
}

.info
{
    display: flex;
    padding-top: 20px;
}

#info_icon
{
    border: 1px solid #EFEFEF;
    padding-top: 4px;
    padding-right: 10px;
    color: #0065FC;
    border-radius: 80px;
    padding-left: 10px;
    height: 20px;
    margin-top: 8px;
    padding-bottom: 3px;
    
}

.info p
{
    padding-left: 16px;
    margin-top: 15px;
}



/* MAIN */

/*------HEBERGEMENTS------*/

main
{
    display: flex;
    flex-wrap: wrap;
}

.sect1
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Hebergements
{
    
    background-color: #EFEFEF;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 11px;
    width: 59%;
    height: 700px;
}

.Hebergements a
{
    text-decoration: none;
    color: black;
}

.Hebergements h2
{
    font-family: 'ralewaysemibold';
    padding-left: 2%;
    padding-top: 4%;
    font-size: 20px;
}

.hotels
{
    display: flex;
    height: 32%;
    justify-content: space-around;
}

.hotelcard
{
    border: 5px solid white;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 30%;
}

.hotelcard h2
{
    font-family: 'ralewaysemibold';
    font-size: 90%;
    padding: 0;
    padding-left: 7px;
}

.hotelcard p
{
    font-size: 75%;
    padding-left: 7px;
    margin-top: -10px;
}
.hotelcard img
{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: -4px;
    height: 60%;
}

.note
{
    color: #0065FC;
    font-size: 60%;
    padding-left: 7px;
} 

.hotels2
{
    display: flex;
    height: 32%;
    justify-content: space-around;
}

.afficherplus
{
    font-family: 'ralewaysemibold';
    padding-left: 3%;
    padding-top: 8%;
}

/*------LES PLUS POPULAIRES------*/

.lpp
{
    background-color: #EFEFEF;
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-right: 42px;
    justify-content: space-around;

    
}

.titreaside
{
    font-family: 'ralewaysemibold';
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
}

.titreaside h2
{
    font-size: 20px;
}

#asidelogo
{
    padding-top: 16px;
    font-size: 20px;
}

.hotelcard2
{
    border: 5px solid white;
    width: 90%;
    height: 135px;
    background-color: white;
    border-radius: 15px;
    margin-left: 9%;
}

.hotelcard2 a
{
    text-decoration: none;
    color: black;
}

.hotelcard2 h2
{
    position: relative;
    font-family: 'ralewaysemibold';
    bottom: 140px;
    font-size: 16px;
    padding-left: 160px;
}

.hotelcard2 p
{
    font-size: 14px;
    position: relative;
    bottom: 147px;
    padding-left: 160px;
}
.hotelcard2 img
{
    width: 140px;
    height: 135px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.note2
{
    color: #0065FC;
    position: relative;
    bottom: 125px;
    font-size: 12px;
    padding-left: 160px;
}

.stargrey
{
    color: #EFEFEF;
}






/* SECTION 2 */ 

/*-----ACTIVITES A MARSEILLE-----*/

.act
{
    width: 100%;
}

.activites
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.act h2
{
    font-family: 'ralewaysemibold';
    font-size: 20px;
    margin-top: 50px;
}

/* VIEUX PORT */

.vieuxport, .calanques
{
    border-radius: 15px;
    box-shadow: 1px 1px 15px #DCDCDC; 
    width: 25%;
}

.vieuxport img, .calanques img
{
    width: 100%;
    height: 86%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.vieuxport p, .calanques p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

.activites2
{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
}

/* FORT DE POMEGUES */

.fort
{
    border-radius: 15px;
    box-shadow: 1px 1px 15px #DCDCDC;
    
}

.fort img
{
    width: 100%;
    height: 125px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fort p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

/* Frioul */

.frioul
{
    border-radius: 15px;
    box-shadow: 1px 1px 15px #DCDCDC;
    
}

.frioul img
{
    width: 100%;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.frioul p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

/* calanques */

.calanques
{
    border-radius: 15px;
    box-shadow: 1px 1px 15px #DCDCDC;
    width: 25%;

    
}

.calanques img
{
    width: 100%;
    height: 86%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.calanques p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

.activites3
{
    display: flex;
    flex-direction: column;
    width: 22%;
    justify-content: space-between;
}

/* Notre dame de la garde */

.notredame
{
    border-radius: 15px;
    box-shadow: 1px 1px 15px #DCDCDC;
    margin-bottom: 4%;
    
}

.notredame img
{
    width: 100%;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.notredame p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

/* Parc longchamp */

.parc
{
    border-radius: 15px;
    box-shadow: 1px 1px 15px #DCDCDC;
    
}

.parc img
{
    width: 100%;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.parc p
{
    font-family: 'ralewaysemibold';
    margin-left: 20px;
    font-size: 16px;
}

.sect2 a , .aside a , .activites a
{
    text-decoration: none;
    color: black;
}




/* ----- FOOTER ----- */

.footer
{
    display: flex;
    background-color: #EFEFEF;
    justify-content: space-around;
    padding-bottom: 30px;

}

.footer h3
{
    font-family: 'ralewaysemibold';
    font-size: 18px;
    padding-top: 24px;
}

.footer p
{
    font-size: 16px;
}

.footer a
{
    text-decoration: none;
    color: black;
}

.apropos
{
    margin-left: -120px;
}







@media all and (min-width : 768px) and (max-width : 991px) /* TABLETTES */
{


    .filtre
    {
        flex-direction: column;
    }

    .filtre h2 
    {
        padding-left: 20px;
    }

    .filtre1
    {
        margin-bottom: 10px;
    }

    .sect1
    {
        display: block;
    }

    #Hébergements
    {
        width: 100%;
        padding: 0;
    }

    .lpp
    {
        width: 100%;
        margin-top: 50px;
        padding: 0;
    }

    .hotelcard2 p 
    {
        padding-left: 390px;
    }

    .hotelcard2 h2
    {
        padding-left: 390px;
    }

    .hotelcard2 img
    {
        width: 50%;
    }

    .hotelcard2
    {
        margin-left: 4%;
        margin-bottom: 3%;

    }

    .note2
    {
        padding-left: 390px;
    }

    .activites
    {
        flex-direction: column;
    }

    .act
    {
        width: 100%;
    }

    .vieuxport
    {

        width: 100%;
        height: 340px;
        margin-bottom: 4%;
    }
    
    .activites2
    {
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
    }   

    .fort
    {

        width: 40%;
        margin: 0;    
    }

    .frioul
    {
        width: 45%;
    }

    .frioul img
    {
        height: 120px;
    }


    .calanques

    {
        width: 100%;
        height: 340px;
        margin: 0;
    }

    .activites3
    {
        flex-direction: row;
        width: 100%;
        margin-top: 30px;
    }   

    .notredame
    {
        margin-left: 0;
        width: 45%;
    }

    .parc
    {
        width: 40%;
        height: 170px;
    }



    .apropos
    {
        margin: 0;
    }
}






@media only screen and (max-width: 767px) /* TELEPHONE PORTABLE */
{

    .bloc_page
    {
        margin-right: 0px;
        margin-left: 22px;
    }

    body
    {
        margin-left: 0px;

    }

    /*HEADER*/

    .navigation
    {
        display: flex;
        flex-direction: column;
    }

    .navigation img
    {
        padding-left: 110px;
        width: 110px;
        margin-bottom: -30px;
    }


    .navigation li 
    {
        width: 100%;
        margin-bottom: -7px;
    }

    .navigation li a:hover
    {
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 10px;
    }

    .navigation ul
    {
        border-bottom: 3px solid #EFEFEF;
        padding-bottom: 17px;
        margin-left: -22px;
    }

    .titresect
    {
        width: 300px;
    }

    .formulaire
    {
        margin-bottom: -70px;
        margin-top: 25px;
    }

    .bouton_rechercher
    {
        display: none;
    }

    #loupe
    {
        display: flex;
        background-color: #0065FC;
        color: white;
        width: min-content;
        position: relative;
        left: 260px;
        bottom: 52px;
        font-size: 17px;
        padding: 17px;
        border-radius: 15px;
    }

    .filtre
    {
        flex-direction: column;
        width: 100%;
    }

    .filtre1
    {
        margin-left: 0;
        margin-bottom: 10px;
    }

    #Familial
    {
        width: 120px;
        margin-left: 10px;
    }

    .info
    {
        width: 350px;
        padding-top: 10px;
        padding-bottom: 10px;   
    }

    #info_icon
    {
        margin-top: 10px;
        margin-left: -10px;
        margin-right: 10px;
    }

    .info p
    {
        padding-left: 0px;
    }

    /* SECTION 1 */

    .sect1
    {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
    }

    #lpp1
    {
        margin-left: -37px;
        border-radius: 0px;
        width: 100%;
        padding-right: 37px;
    }

    aside
    {
        width: 10px;
    }

    .hotels, .hotels2
    {
        flex-direction: column;
        align-items: center;
    }

    #Hébergements
    {   
        background: none;
        margin-left: -23px;  
        width: 100%;
        height: 100%;
    }


    .hotelcard
    {
        box-shadow: 1px 1px 15px #DCDCDC;
        width: 300px;
        height: 175px;
    }
    
    .hotelcard img
    {
        width: 300px;
        height: 100px;
    }


    .hotelcard2
    {
        margin-left: 10%;
        margin-bottom: 5%;
    }



    /* SECTION 2 */

    .activites
    {
        flex-direction: column;
        margin-left: -38px;
    }

    .vieuxport, .fort, .calanques, .frioul , .parc, .notredame
    {
    border-radius: 15px;
    margin-left: 47px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 15px #DCDCDC;
    margin-top: 17px;
    height: 170px;
    width: 310px;
    
    }

    .activites img, .activites2 img, .activites3 img
    {
    width: 310px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }

    .footer
    {
        flex-direction:column;
        padding-left: 23px;
        margin-bottom: -9px;
        margin-top: 20px;

    }

    .apropos
{
    margin-left: 0px;
}



}
